body
{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;

    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container
{
    margin-top: 200px;
    width: 70%;
    height: 80vh;
}

.linha
{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button
{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.esc
{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;    
}
.backspace
{
    width: 120px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.tab
{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.enter
{
    width: 140px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.shift
{
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.space
{
    width: 340px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.ctrl
{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;    
}
.lil_ctrl
{
    width: 50px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.alt
{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.lil_alt
{
    width: 50px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.arrow
{   
    
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.updown
{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.up
{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.down
{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    color: black;
    font-size: 20px;
}
.arrows
{
    width: 200px;
    height: 60px;
    align-items: end;
    display: flex;
    flex-direction: row;
}